// override defalt minima variables 

// width of the content area
// can be set as "px" or "%"
$content-width:    85%;
$on-palm:          800px;
$on-laptop:        85%;
$on-medium:        85%;
$on-large:         80%;
