// override defalt minima variables 

// width of the content area
// can be set as "px" or "%"
$content-width:    95%;
$on-palm:          800px;
$on-laptop:        95%;
$on-medium:        95%;
$on-large:         95%;
